# Dump Dot files
src/tree/tree_dump/dumps/dot
src/tree/tree_dump/dumps/pdf
src/tree/tree_dump/dumps/png
src/tree/tree_dump/dumps/tex

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
